/* FONTS */

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2'),
      url('/fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Medium.woff2') format('woff2'),
      url('/fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-SemiBold.woff2') format('woff2'),
      url('/fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.woff2') format('woff2'),
      url('/fonts/Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing:inherit;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Inter", "Arial", sans-serif;
  height: 100%;
  background-color: #fff;
  color: #222;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color:  #F1F4FF;

}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1192px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */

.main-content {
  padding-top: 80px;
  padding-bottom: 80px;
  flex-grow: 1;
}

.intro-page {
  display: flex;
}

/* HERO */

.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 570px;
  border-radius: 20px;
  background-color: #222;
  color: #fff;
  overflow: hidden;
}

.hero-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  padding: 55px 60px;
  background-image: url(../img/bg-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hero-badge {
  padding: 5px 15px;
  border-radius: 41px;
  border: 1px solid #fff;
  margin-bottom: 60px;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.hero-heading {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 46px;
}

.hero-text {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
}

.hero-bottom {
  padding: 29px;
  text-align: center;
  font-size: 19px;
  background-color: #4DC490;
}
